# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.cache
*.CopyComplete
obj/*
bin/*
*/obj/*
*/bin/*
.vs/*
*.user
*.lock
*.ide
*.ide-shm
*.ide-wal
*.config
